.App {
  font-family: Arial, sans-serif;
  padding: 35px;
  padding-top: 5px !important;
  margin :30px;
  border: 15px solid #f3f3f3;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .App {
    padding: 10px;
    border-width: 3px; 
    margin: 10px;
  }
}
